<div class="container ">
  <div class="row">
    <div class="col-md-12 confeti text-center">
    	<h1>Winner</h1>
		<h2><%= @winner.competitor.name %> <%= @winner.competitor.last_name %></h2>
		<h3><%= @winner.created_at.strftime("%Y-%m-%d %I:%M:%S") %></h3>
    </div>
  </div>
</div>


